<div class='d-table-cell cart-item-total-header text-uppercase'><%= Spree.t(:recurring_delivery_interval) %></div>
<div class='d-table-cell cart-item-total-header text-uppercase'><%= Spree.t(:total_deliveries) %></div>
